<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExportedContentProvider">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="com.example.services" />
        <package android:name="gov.census.cspro.csentry" />
        <package android:name="com.example.proyectofinalencuesta_bdubicuo" />

        <provider
            android:authorities="gov.census.cspro.csentry.files.csentry"
            android:grantUriPermissions="true" />
        <provider
            android:authorities="com.example.proyectofinalencuesta_bdubicuo"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_logo_ub"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CensoExperimental_01"
        android:usesCleartextTraffic="true"
        tools:ignore="permisLockedOrientationActivity">
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">

        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
</activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.example.proyectofinalencuesta_bdubicuo.app.MyOwnFileProvider"
            android:authorities="${applicationId}.app.myownfileprovider.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".app.MyApp"
            android:foregroundServiceType="location">
            <!-- Any inner elements would go here. -->
        </service>
    </application>

</manifest>
